body 
{

    margin: 0; 
    padding: 0;
    background: #2980b9;
    overflow:hidden;
}
/*gives rain a 15 degree angle, can be changed.*/
#rain
{
    display: block;
    transform:scale(1.5) skewX(15deg);
    position:fixed;
    z-index:-1;
}

div
{
    background:rgba(255,255,255,0.3);
    width:25%;
    padding:20px;
    position : absolute;    
    left     : 35%;
    top      : 35%;
    border : solid 1px white;
    border-radius:60px;
    -webkit-animation: fadein 5s;
    font-family: 'Lato', sans-serif;
    font-weight:lighter;
    color:white;
    font-size:70px;
    text-align:center;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
